<style>
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap');
</style>

<canvas id="bg"></canvas>
<main>
    <!-- Navigator -->
    <div id="nav-container" *ngIf="moonTarget != 'Saturn'">
        <div class="button" (click)='flyToMoon("Saturn")'>
            <div (click)='flyToMoon("Saturn")'> Home </div>
        </div>
        <div class="button" (click)='flyToMoon("titan")' *ngIf="moonTarget != 'titan'">
            <div> About me </div>
        </div>
        <div class="button" (click)='flyToMoon("rhea")' *ngIf="moonTarget != 'rhea'">
            <div> Projects </div>
        </div>
        <div class="button" (click)='flyToMoon("lapetus")' *ngIf="moonTarget != 'lapetus'">
            <div> Contact </div>
        </div>
    </div>
</main>