<style>
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap');
</style>

<canvas id="bg"></canvas>
<main>
    <!-- Home -->
    <div id="name-container" *ngIf="moonTarget == 'Saturn'">
        <span id="name" class="animate__animated animate__fadeIn">Jorrit Schepers</span>
        <span id="title" class="animate__animated animate__fadeIn animate__delay-1s"> Software Developer </span>
    </div>

    <div id="menu-container" *ngIf="moonTarget == 'Saturn'">
        <div id="titan" class="button animate__animated animate__fadeIn animate__delay-2s" (click)='flyToMoon("titan")' (mouseover)="addFlashlight('aboutMe')" (mouseout)="removeFlashlight()">About me</div>
        <div id="rhea" class="button animate__animated animate__fadeIn animate__delay-3s" (click)='flyToMoon("rhea")' (mouseover)="addFlashlight('projects')" (mouseout)="removeFlashlight()">My projects</div>
        <div id="lapetus" class="button animate__animated animate__fadeIn animate__delay-4s" (click)='flyToMoon("lapetus")' (mouseover)="addFlashlight('contactMe')" (mouseout)="removeFlashlight()">Contact me</div>
    </div>

    <!-- Navigator -->
    <div id="nav-container" *ngIf="moonTarget != 'Saturn'" class="animate__animated animate__fadeInDown">
        <div class="button" (click)='flyToMoon("Saturn")'>
            <div (click)='flyToMoon("Saturn")'> Home </div>
        </div>
        <div class="button" (click)='flyToMoon("titan")' *ngIf="moonTarget != 'titan'">
            <div> About me </div>
        </div>
        <div class="button" (click)='flyToMoon("rhea")' *ngIf="moonTarget != 'rhea'">
            <div> Projects </div>
        </div>
        <div class="button" (click)='flyToMoon("lapetus")' *ngIf="moonTarget != 'lapetus'">
            <div> Contact </div>
        </div>
    </div>
    
    <!-- About me -->
    <div id="about-me-container" class="panel-container" *ngIf="currentPage == 'titan'">
        <div class="panel-title animate__animated animate__fadeIn"> 
            <span>
                About me
            </span> 
        </div>
        <div class="panel-body animate__animated animate__fadeIn animate__delay-1s">
            <div class="panel-p">
                My name is Jorrit Schepers and I'm currently studying Software Development at the HAN in the Netherlands.
            </div>
            <div class="panel-p">
                Besides coding websites and writing software, I like travelling, indoor and outdoor climbing and everything alpine related. 
                Naast mijn studie ben ik veel bezig met het bouwen van mijn eigen websites en met name het bouwen van een simulatie van ons zonnenstelsel!
            </div>
            <div class="panel-p">
                <a href="./assets/cv-jorrit-schepers.pdf" target="_blank">CV</a>
            </div>
        </div>
    </div>
    
    <!-- Projects -->
    <div id="projects-container" class="panel-container" *ngIf="currentPage == 'rhea'">
        <div class="panel-title animate__animated animate__fadeIn"> 
            <span>
                Projects
            </span> 
        </div>
        <div class="panel-body animate__animated animate__fadeIn animate__delay-1s">
            
            <!-- Solarsim -->
            <div class="project">
                <div class="panel-column">
                    <img src="./../assets/Solarsim.png" alt="Solarsim">
                </div>
                <div class="panel-column">
                    <div>
                        <div class="project-title">
                            Solarsim
                        </div>
                        <div class="project-undertitle">
                            Angular, Three.js
                        </div>
                        <div class="project-body">
                            A space simulation where you can design your own solarsystems... <a href="https://jorritschepers.github.io" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Windows XP Portfolio -->
            <div class="project">
                <div class="panel-column">
                    <img src="./../assets/WindowsXP.png" alt="Windows XP Portfolio">
                </div>
                <div class="panel-column">
                    <div>
                        <div class="project-title">
                            Windows XP Portfolio
                        </div>
                        <div class="project-undertitle">
                            Angular
                        </div>
                        <div class="project-body">
                            <a href="https://jorritschepers.github.io" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lorem, ipsum. -->
            <div class="project">
                <div class="panel-column">
                    <img src="./../assets/maps/rings.png" alt="Windows XP Portfolio">
                </div>
                <div class="panel-column">
                    <div>
                        <div class="project-title">
                            Lorem, ipsum.
                        </div>
                        <div class="project-undertitle">
                            Java
                        </div>
                        <div class="project-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit illo tenetur quisquam. Eius, ullam? <a href="https://jorritschepers.github.io" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lorem, ipsum. -->
            <div class="project">
                <div class="panel-column">
                    <img src="./../assets/maps/titan-map.jpg" alt="Windows XP Portfolio">
                </div>
                <div class="panel-column">
                    <div>
                        <div class="project-title">
                            Lorem, ipsum.
                        </div>
                        <div class="project-undertitle">
                            Javascript 
                        </div>
                        <div class="project-body">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, voluptatibus. <a href="https://jorritschepers.github.io" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact me -->
    <div id="contact-container" class="panel-container" *ngIf="currentPage == 'lapetus'">
        <div class="panel-title animate__animated animate__fadeIn"> 
            <span>
                Contact me
            </span> 
        </div>
        <div class="panel-body animate__animated animate__fadeIn animate__delay-1s">
            <div class="panel-column animate__animated animate__fadeIn animate__delay-1s">
                <img src="../assets/Jorrit Schepers.JPG" alt="Jorrit Schepers" id="contact-image">
            </div>
            <div class="panel-column"></div>
            <div class="panel-column animate__animated animate__fadeIn">
                <div class="panel-p">
                    Do you have any questions about how I made this website or you just want to contact me?
                </div>
                <div class="panel-p">
                    Feel free to send me a mail!
                </div>
                <div class="panel-p" style="user-select: all;">
                    <a href="mailto:jorrit.schepers1@gmail.com">jorrit.schepers1@gmail.com</a>
                </div>
                <div class="panel-p">&nbsp;</div>
                <div id="social-media-container" class="panel-p">
                    <a href="https://github.com/JorritSchepers" target="_blank"><img src="../assets/GitHub.png"></a>
                    <a href="https://www.linkedin.com/in/jorrit-schepers-b9809317b/" target="_blank"><img src="../assets/linkedin.svg"></a>
                </div>
            </div>
        </div>
    </div>
</main>